.sidebar input,
.sidebar select{

  width:100%;
  padding:8px;
  margin-bottom:10px;
  background:#181818;
  border:1px solid #333;
  border-radius:8px;
  color:white;

}

.sidebar label{
  display:block;
  margin-bottom:5px;
  font-size:14px;
}

.explorador-bloque{
  margin-bottom:20px;
}

.explorador-titulo{
  font-size:13px;
  color:#aaa;
  margin-bottom:8px;
}
